<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>

    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header class="page-header" role="banner">
      <img src="me.jpg" height="auto" width="200" style="border-radius:50%">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
        <a href="{{ site.github.repository_url }}" class="btn">Hackster</a>
        <a href="https://github.com/1061999" class="btn">GitHub</a>
        <a href="https://twitter.com/annlee_fores" class="fa fa-twitter"></a>
        <a href="https://medium.com/@annleefores" class="btn">Medium</a> 
      
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
<div 
     class="home-contact">
  </a>Email ID: <a href="mailto:annleefores@gmail.com">annleefores@gmail.com</a>
</div>
      <footer class="site-footer">
          </a> Website maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>
      </footer>
    </main>
  </body>
</html>
